<!DOCTYPE html>
<html>
<head>
  <title>Sports Department</title>
</head>
<body>
  <h1>Welcome to Sports Department Portal</h1>
  <ul>
    <li><a href="/students">Manage Students</a></li>
    <li><a href="/items">Manage Items</a></li>
    <li><a href="/issue">Issue Items</a></li>
    <li><a href="/return">Return Items</a></li>
    <li><a href="/records">All Issue Records</a></li>
  </ul>
</body>
</html>
